@font-face{
  font-family:  'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf');
}

*{
  font-family: 'RobotoThin', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55));
}

h1{
  font-size: 50px;
  font-weight: 100;
}